/.vs
/.axoCover
/build
/installer/bin
/installer/obj
/installer/*.msi
/installer/*.wixpdb
/IO.Web.API.MythTV/obj
/IO.Web.API.MythTV/Types/obj
/obj
/packages
/Recordings/obj
/Recordings/Tests/obj
/Recordings/Types/obj
/Settings/obj
/Settings/Tests/obj
/Settings/Types/obj
/TestResults
/UI/obj
/UI/Tests/obj
